@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Spoqa Han Sans Neo', 'Courier New', Courier, monospace;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.min-h-70vh {
  min-height: 70vh;
}